/*Палитра цветов страницы
Цвет заголовков: #212121;
Цвет основного текста: #757575
Цвет подписей: #FFFFFF
Цвет анимаций: #2196F3
Цвета лого: #000000 #2196F3
Цвет полотен: #2F303A */
/*Переменные */
:root {
  --header-color: #212121;
  --text-color: #757575;
  --main-header-color: #ffffff;
  --animation-color: #2196f3;
  --bg-color: #f5f4fa;
  --hero-and-footer-color: #2f303a;
  --portfolio-bgc: #e5e5e5;
}

/*reset styles
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
*/
/* Общие стили 
body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: var(--text-color);
}

.no-scroll {
  overflow: hidden;
}
*/
/*  
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
*/
/*
.header {
  background-color: var(--main-header-color);
}
*/
/* Стили отдельных элементов */

/*Стили лого*/
/*
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--animation-color);
}
.logo__ending {
  color: #000;
}
.logo-ending-reverse {
  color: var(--main-header-color);
}
*/
.hero {
  display: flex;
  justify-content: center;
  background-color: var(--hero-and-footer-color);
  padding-top: 200px;
  padding-bottom: 200px;
}
.bg-img {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
.hero-header {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  color: var(--main-header-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.hero-btn {
  display: flex;
  padding: 0;
  background-color: var(--animation-color);
  color: var(--main-header-color);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}
.h2-type {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
}
.h3-type {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--header-color);
  text-align: center;
  letter-spacing: 0.03em;
}

.h3-type-studio {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
}
.h3-type-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  color: var(--header-color);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
/*
.nav__link {
  color: var(--header-color);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:focus,
.nav__link:hover {
  color: var(--animation-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link--active {
  position: relative;
  color: var(--animation-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav__link--active::after {
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 4px;
  content: "";
  background-color: var(--animation-color);
  border-radius: 2px;
}
*/
.contact-link {
  display: flex;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--animation-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.idea-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
.card-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 10px;
}
.card-section {
  background-color: var(--bg-color);
}
.card {
  background-color: var(--main-header-color);
  width: 270px;
  height: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.footer {
  background-color: var(--hero-and-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-sec {
  display: flex;
}/*
.address-link {
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:focus,
.address-link:hover {
  color: var(--animation-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/
.address-list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
.address {
  font-size: 14px;
  line-height: calc(24 / 14);

  letter-spacing: 0.03em;

  color: #ffffff;
}
/*кнопки портфолио*/
.portfolio-btn {
  color: var(--header-color);
  font-weight: 500;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  background-color: var(--bg-color);
  cursor: pointer;
  padding: 6px 22px;
  margin-right: 8px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn-active {
  background-color: var(--animation-color);
  color: var(--main-header-color);
}
/*
.header-container {
  display: flex;
  height: 80px;
  align-items: center;
}
*/
/*
.header-list {
  display: flex;
}
*/
/*
.nav {
  margin-left: 93px;
}
*/
/*
.header-address-list {
  margin-left: 305px;
}
/*
.nav__item:nth-child(-n + 2) {
  margin-right: 50px;
}
*//*
.header-address-list-item:nth-child(-n + 1) {
  margin-right: 30px;
}
*/
.benefits-list {
  display: flex;
  justify-content: space-between;
}
.benefits-list-item {
  width: 270px;
}
.benefits-list-item-header {
  margin-bottom: 10px;
}
.service-header {
  margin-bottom: 50px;
}
.service-list {
  display: flex;
  justify-content: space-between;
}
.card-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.command-header {
  margin-bottom: 50px;
}
.card-list {
  display: flex;
  justify-content: space-between;
}
/*
.footer-logo {
  margin-bottom: 20px;
}
*/
.address-item {
  margin-bottom: 9px;
}
.category-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.portfolio-header {
  border-bottom: 1px solid #ececec;
}
.portfolio-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.portfolio-card {
  margin-bottom: 30px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card-text {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.benefits-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.service-section {
  padding-bottom: 94px;
}
.all-card-text {
  align-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
.portfolio {
  padding-top: 100px;
  padding-bottom: 94px;
}
.portfolio-card-description {
  font-size: 16px;
  line-height: calc(30 / 16);

  letter-spacing: 0.03em;
}
.benefit-icon {
  display: flex;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

/* icons*/
/*
.address-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.tel-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}/*
.social-icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:focus,
.social-link:hover {
  background-color: var(--animation-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:focus .social-icon {
  fill: var(--main-header-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover .social-icon {
  fill: var(--main-header-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
*/
.footer-social-header {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-header-color);
  margin-bottom: 20px;
}
.footer-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer-social-icon {
  fill: var(--main-header-color);
  width: 20px;
  height: 20px;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:focus,
.footer-social-link:hover {
  background-color: var(--animation-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-section {
  margin-left: 70px;
  padding-top: 12px;
}
.client-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.client-list-item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-icon {
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list-item:focus,
.client-list-item:hover {
  border: 1px solid var(--animation-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list-item:focus .client-icon {
  fill: var(--animation-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list-item:hover .client-icon {
  fill: var(--animation-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.client-header {
  margin-bottom: 50px;
}
.portfolio-card:focus,
.portfolio-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*
.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
*/

.service-card {
  position: relative;
}
.service-card > .service-text {
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 82px;
  padding-right: 83px;
  width: 370px;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.portfolio-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  display: flex;
  align-items: center;
  padding: 24px;

  background: rgb(33 150 243 / 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover .portfolio-img-overlay {
  transform: translateY(0);
}
.portfolio-text-overlay {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;

  letter-spacing: 0.03em;

  color: #ffffff;
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
/*
.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 581px;
  width: 528px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  z-index: 100;
}
.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0%;
  top: 8px;
  right: 8px;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  color: var(--animation-color);
}
.modal-close-btn .close-img {
  fill: currentColor;
}
.modal-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.modal-input {
  width: 100%;
  height: 40px;
  padding: 12px 15px 12px 42px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-item:not(:last-child) {
  position: relative;
  margin-bottom: 10px;
}
.modal-item:last-child {
  margin-bottom: 20px;
}
.modal-label-title {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  padding-bottom: 4px;
}

.modal-icon {
  position: absolute;
  top: 55%;
  left: 12px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #212121;
}
.modal-com {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  color: var(--main-text-color);
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-com::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-input:focus,
.modal-com:focus {
  outline: transparent;
  border-color: #2196f3;
}
.modal-input:focus + .modal-icon {
  fill: #2196f3;
}*/
 /*
.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal-check:checked + .form-icon-check {
  border-color: var(--animation-color);
  background-color: var(--animation-color);
}
.form-icon-check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 1px solid #000000;
  border-radius: 2px;
  background-color: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-link {
  text-decoration-line: underline;
  color: var(--animation-color);
}
.icon-check {
  fill: #ffffff;
}
/*
.visually-hidden {
  visibility: hidden;
}

.btn-checkbox {
  width: 200px;
  height: 50px;
  margin: 0 124px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-checkbox:hover {
  background-color: var(--animation-color);
}
*/

.form-btn-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.subscribe-box {
  display: block;
  margin-left: auto;
}
.subscribe-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}
.subscribe-form {
  display: flex;
}
.subscribe-input {
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  background-color: transparent;
  color: #fff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn {
  cursor: pointer;
  width: 200px;
  height: 50px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--animation-button);
}
.subscribe-btn-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  margin-right: 10px;
}
.subscribe-btn-icon {
  height: 24px;
  width: 24px;
  fill: #ffffff;
}
